hr{
  width: 100%;
}

.total-price-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.clear-all-btn{
  width: max-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 20px;
  color: red;
  background-color: white;
  font-size: 25px;
  cursor: pointer;
  border: 1px solid red;
  border-radius: 5px 5px 5px 5px;
}

.clear-all-btn:hover{
  color: white;
  background-color: red;
}

.clear-all-btn:focus{
  outline: none;
}